{% extends 'base.html.twig' %}
{% block title %}All Manga
{% endblock %}

{% block body %}
	<h1>All Manga</h1>
	<form method='get' action='allmanga'>
		<input type="hidden" name="page" value="1"/>
		<select name="cats" multiple>
			{% for categorie in allCategories %}
				<option value="{{categorie.id}}">{{categorie.name}}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Rechercher">
	</form>
	<br>
	{% for manga in mangas %}
		<img src='{{ manga.image }}'><br>
		{{ manga.title }}<br>
		{{ manga.description }}<br>
		{{ manga.price }}
		Prix<br>

		{% for categorieManga in categoriesManga[manga.title] %}
			{{categorieManga}}
		{% endfor %}

		<a href='manga?id={{manga.id}}'>Détails</a>
		<button  name="addToCart" value="{{manga.id}}">Ajouter au panier</button>
		<br>
	{% endfor %}
	{# pagination #}
	{% if page > 1 %}
		<a href='allmanga?page={{page-1}}
			{% if cats is defined %}
			{{cats|join(' &cats=')}}
			{% endif %}
		'>Page précédente</a>
	{% endif %}

	{% if page < allPages %}
		<a href='allmanga?page={{page+1}}
		{% if cats is defined %}
		{{cats|join(' &cats=')}}
		{% endif %}
	'>Page suivante</a>
	{% endif %}

{% endblock %}
