{% extends 'base.html.twig' %}

{% block title %}
	{{ "Panier" }}
{% endblock %}

{% block body %}
	{% include '/components/navbar.html.twig' %}
	<main class="flex justify-center items-center h-[calc(100vh-4rem)]">
		<div class="w-3/4 bg-gray-100 h-full flex flex-col p-16">
			<div class="flex flex-col flex-wrap items-center w-full bg-white rounded p-8">
				<h1 class="text-2xl font-bold mb-8">Votre panier</h1>
				{% if orders.OrderQuantities is empty %}
					<p class="text-xl text-center w-full font-bold">
						Pas de produits dans le panier</p>
				{% else %}
					<div class="flex flex-col overflow-auto max-h-[35vh]">
						{% for order in orders.OrderQuantities %}
							<div class="flex justify-between items-center w-full bg-white rounded p-4 my-2">
								<div class="w-[100px] h-[150px] bg-cover bg-center" style="background-image: url('{{ order.manga.image }}')"></div>
								<p class="text-xl w-1/4 font-bold mx-2">{{ order.manga.title }}</p>
								<p class="text-xl w-1/4 mx-2">Prix:{{ order.manga.price }}</p>
								<p class="text-xl w-1/4 mx-2">Quantité:{{ order.quantity}}</p>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			<div class="flex justify-between items-center w-full bg-white rounded p-2 my-2">
				<p class="text-xl font-semibold">Sous-total</p>
				<p class="text-xl font-semibold">{{ orders.OrderSubTotal }}€</p>
			</div>
			<div class="flex justify-between items-center w-full bg-white rounded p-2 my-2">
				<p class="text-xl font-semibold">Frais de port</p>
				<p class="text-xl font-semibold">{{ orders.shippingCost }}€</p>
			</div>
			<div class="flex justify-between items-center w-full bg-white rounded p-2 my-2">
				<p class="text-xl font-semibold">Total</p>
				<p class="text-xl font-semibold">{{ orders.OrderSubTotal + orders.shippingCost }}€</p>
			</div>

		</div>
		<aside class="w-1/4 p-4 m-16 rounded-lg bg-white h-[calc(100%-128px)] shadow-md">
			<h2 class="text-2xl font-bold mb-4">Adresse de livraison</h2>
			<form method='post' action='cart' class="flex flex-col items-center">
				<div class="flex flex-wrap">
					<input type='text' name='street' placeholder='street' class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
					<input type='text' name='city' placeholder='city' class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
					<input type='text' name='zipCode' placeholder='zipCode' class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
					<input type='text' name='country' placeholder='country' class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
				</div>
				<input type='submit' value='Je paye' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
			</form>
			{{paypal | raw}}
		</aside>
	</main>
	{% for category in onlyAddresses %}
    {{ category.street }}
	{{ category.city }}
	{{ category.zipCode }}
	{{ category.country }}
	{{ category.quantity }}
	
	
{% endfor %}
{% endblock %}
