{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<header>
		<nav class="flex relative items-center justify-center min-h-[64px]">
			<img src="/img/logo.png" alt="Logo" class="absolute"/>
			<ul class="flex items-center w-full justify-end">
				<li class="flex items-center justify-center">
					<a href="/login" class="block flex items-center justify-center bg-[#002FD4] rounded-lg pl-3 pr-3 pt-1 pb-1 text-white font-semibold ml-[10px] mr-[10px]">
						Se connecter
					</a>
				</li>

				<li class="flex items-center justify-center">
					<a href="/register" class="block flex items-center justify-center bg-[#002FD4] rounded-lg pl-3 pr-3 pt-1 pb-1 text-white font-semibold ml-[10px] mr-[10px]">
						S'enregistrer
					</a>
				</li>

				<li class="flex items-center justify-center">
					<a href="/?disconnect=1" class="block flex items-center justify-center bg-[#002FD4] rounded-lg pl-3 pr-3 pt-1 pb-1 text-white font-semibold ml-[10px] mr-[10px]">
						Se déconnecter
					</a>
				</li>
			</ul>
		</nav>
		<div class="w-full min-h-[468px] bg-cover bg-center" style="background-image: url('/img/bg-header.png');"></div>
	</header>
	<main>
		<section>
			<h1 class="text-center font-[500] text-xl mt-12 mb-12">TOUS NOS PRODUITS</h1>
			{# Filters: #}
			<div class="flex w-full items-center justify-center">
				<button class="bg-[#002FD4] rounded-lg pl-3 pr-3 pt-1 pb-1 text-white font-semibold ml-[10px] mr-[10px]">Themes</button>
				<button class="block flex items-center justify-center bg-[#002FD4] rounded-lg pl-3 pr-3 pt-1 pb-1 text-white font-semibold ml-[10px] mr-[10px]">
					<img src="/img/arrow-down.svg" alt="" class="m-[4px]"/>
					<span>Rating</span>
				</button>
				<button class="block flex items-center justify-center bg-[#002FD4] rounded-lg pl-3 pr-3 pt-1 pb-1 text-white font-semibold ml-[10px] mr-[10px]">
					<img src="/img/arrow-down.svg" alt="" class="m-[4px]"/>
					<span>Price</span>
				</button>
			</div>
			{# Products: #}
			<div class="flex flex-wrap w-full items-center justify-center">
				{% for manga in mangas %}
					<div class="flex flex-col justify-center bg-[#F6F6F6] p-3 rounded-md drop-shadow-xl m-8">
						<div class="w-[200px] h-[300px] bg-contain bg-no-repeat bg-center" style="background-image: url('{{ manga.image }}');"></div>
						<div class="flex flex-col justify-center">
							<a href="manga?id={{manga.id}}" class="text-center font-[600] text-xl w-[200px] break-word h-[5rem] overflow-hidden m-auto hover:opacity-60">{{ manga.title }}</a>
							<span class="text-center text-blue-800 mt-2 mb-2 text-lg font-bold">{{ manga.price }}€</span>
							<div class="flex w-full items-center justify-center">

								<button class="bg-[#D40000] rounded-lg pl-3 pr-3 pt-1 pb-1 text-white font-semibold ml-[10px] mr-[10px] hover:opacity-60">AJOUT AU PANIER</button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
		{# Pagination: #}
		<div class="flex w-full items-center justify-center mt-12 mb-12">
			{% if page > 1 %}
				<a href="/?page=1" class="block flex items-center justify-center rounded-lg pl-1 pr-1 pt-1 pb-1 m-1 text-white font-semibold hover:opacity-50">
					<img src="/img/firstPageicon.png" alt="" class="m-[4px]"/>
				</a>
			{% endif %}
			{% if page > 1 %}
				<a href="/?page={{page-1}}" class="block flex items-center justify-center rounded-lg pl-1 pr-1 pt-1 pb-1 m-1 text-white font-semibold hover:opacity-50">
					<img src="/img/previousPageIcon.png" alt="" class="m-[4px]"/>
				</a>
			{% endif %}

			<p class="text-center font-[500] text-xl">{{page}}</p>

			{% if page < allPages %}
			<a href="/?page={{page+1}}" class="block flex items-center justify-center rounded-lg pl-1 pr-1 pt-1 pb-1 m-1 text-white font-semibold hover:opacity-50">
				<img src="/img/nextPageicon.png" alt="" class="m-[4px]"/>
			</a>
			{% endif %}
			{% if page < allPages %}
			<a href="/?page={{allPages}}" class="block flex items-center justify-center rounded-lg pl-1 pr-1 pt-1 pb-1 m-1 text-white font-semibold hover:opacity-50">
				<img src="/img/lastPageicon.png" alt="" class="m-[4px]"/>
			</a>
			{% endif %}
		</div>
	</main>
{% endblock %}
